 body {
      font-family: Arial, sans-serif;
      background: none;
    }        
	.card {
	  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	  transition: 0.3s;
	  width: 250px;
	  text-align: center;
      height: 350px; /* Altura del 100% del viewport */
	  display: flex;
      justify-content: center;
	}
	
	.card:hover {
	  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}
	
	.containerImg {
      text-align: center;
	  display: flex;
	  flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 300px;
      max-width: 200px;
      margin: 20px;
	}
	.ventana{
	     background-color: #fff;
	     padding: 20px;
	     border-radius: 10px;
	     align-items: center;
	 	 justify-content: center;	  
   	}
	.modal{
           display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            align-items: center;
            justify-content: center;
            opacity:1;   
            transition: all 1s;
	}


    /* Estilos de la cuadrícula */
    .grid-container {
      margin: 20px auto;
      height: 100%; /* Toda la altura de la ventana */
      width: 100%;
      display: grid;
      grid-template-areas:
        'header header header'
        'widget-1 widget-1 widget-1'
        'widget-2 widget-2 widget-2'
        'content sidebar sidebar'
        'footer footer footer';
      grid-template-rows: repeat(auto 1fx); /* Alturas de las filas */
      grid-template-columns: reapeat(3, 1fr); /* Anchos de las columnas */
      grid-gap: 20px;
      max-width: 100%; /*Tamaño de la ventana*/
    }


	
	.grid-container > div,
	.grid-container .header,
	.grid-container .content,
	.grid-container .sidebar,
	.grid-container .footer {
		padding: 20px;
		border-radius: 4px;	
	}
	
    .grid-container .header {
        position: fixed;
        top: 0;
        background: #333;   
	    grid-area: header;
	    height: 28px;
	    width: 100%;
	    z-index: 2;
	    flex-direction: column;
    }
	
	.grid-container .widget-1 {
	    position: absolute;
	    top: 50px;
	    height: 60px;
		width: 100%;
   		display: flex; /* Activa el modelo de caja flexible (Flexbox) */
        align-items: center;
        justify-content: center;
       	grid-area: widget-1;	
		white-space: nowrap;
	
	}
	
	.grid-container .widget-2 {
	    position: absolute;
	    top: 110px;
		height: 40px;
		width: 100%;
		text-align: center;
	    display: flex; /* Activa el modelo de caja flexible (Flexbox) */
        align-items: center;
        justify-content: center;
        grid-area: widget-2;		
	}	
	    /* Estilos de los elementos dentro de la cuadrícula */

    .grid-container .sidebar {
        top: 80px; 
    	left: 200px;
        position: relative; 
		grid-area: sidebar;
		height: 380px;
		width: 800px;
 }


    .grid-container .content {
      position: fixed;
      top: 150px;
      grid-area: content;
      height: 380px;
      width: 300px;
      display: flex; /* Activa el modelo de caja flexible (Flexbox) */
      align-items: center;
      justify-content: center;
      border-right: 1px solid #ccc;
      flex-direction: column;
      
    }

    .grid-container .footer {
      bottom: 0;
      position: fixed;
      height: 5px;
      width:100%; 
      grid-area: footer;
      background-color: grey;
      color: white;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    
    }
    

    
    form {
      max-width: 600px; /* Establece un ancho máximo para el formulario */
      margin: 0 auto; /* Centra el formulario horizontalmente */
    }

    input, select {
      padding: 4px;
      margin-bottom: 16px;
      margin-right: 10px;
      box-sizing: 10px;
    }

	.input-mediano {
	    width: 110px;
	    height: 20px;
	    margin: 4px;
	}


	.btn-eliminar {
	    background-color: #ffffff; /* Fondo blanco */
	    color: #ff0000; /* Letras rojas */
	    border: 1px solid #ff0000; /* Contorno rojo */
	    padding: 8px 16px; /* Ajuste de relleno */
	    cursor: pointer; /* Cambia el cursor al pasar el ratón */
	    border-radius: 4px; /* Bordes redondeados */
	}
	
    button {
      background-color: #4CAF50;
      color: white;
      padding: 10px 15px;
      border: none;
      cursor: pointer;
      margin-left: auto;
    }
    
    textarea {
    	width: 350px;
    }

    .mensaje {
    		height: 25px;
    		width: 600px;
            border-radius: 5px;
            text-align: center;
	    	display: flex; /* Activa el modelo de caja flexible (Flexbox) */
        	align-items: center;
        	justify-content: center;
        }

        .error {
            background-color: #ffdddd;
            border: 1px solid #f44336;
            color: #f44336;
            text-align: center;
	    	display: flex; /* Activa el modelo de caja flexible (Flexbox) */
        	align-items: center;
        	justify-content: center;
        }

        .exito {
            background-color: #d4edda;
            border: 1px solid #28a745;
            color: #28a745;
            text-align: center;
	    	display: flex; /* Activa el modelo de caja flexible (Flexbox) */
        	align-items: center;
        	justify-content: center;
        }