        
    table {
	    width: 100%;
	    border-collapse: collapse;
		white-space: nowrap;
	}


	th {
	    color: #fff;
	    padding: 8px 28px 8px 28px;
	    text-align: center;
	    width: fit-content;
	    border-bottom: 1px solid #ccc;
	}


	 td {
	    padding: 8px;
	    text-align: center;
	    width: fit-content;
	    border-bottom: 1px solid #ccc;
	}

	thead {
	   	 background-color: #ccc;
	}

	tr:hover {
   		 background-color: #efffe9;
	}

	
	
	